body {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-size: 25px;
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    color: aliceblue;
    float: right;
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:active {
    color: aliceblue;
}

main {
    margin-top: 50px;
}

.currpage {
    color: chartreuse;
    text-decoration: underline;
}

nav a:hover {
    background-color: brown;
}

img:hover {
    box-shadow: 0 0 1px 1px #376F70;
}

.nonFigPage img {
    width: 40%;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
}

.nonFigPage {
    text-align: center
}

.figPage img {
    padding: 5px;
    margin: 10px;
    border: 1px solid gray;
    width: 90%;
    height: 90%;
}

.figPage {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    padding: 10px;
    margin: 5px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.dan {
    grid-area: 1 / 1 / span 1 / span 1;
}

.dan:hover figcaption{
    opacity: 1;
}

.double {
    grid-area: 1 / 2 / span 1 / span 1;
}

.double:hover figcaption{
    opacity: 1;
}

.fish {
    grid-area: 1 / 3 / span 1 / span 1;
}

.fish:hover figcaption{
    opacity: 1;
}

.hotpot {
    grid-area: 1 / 4 / span 1 / span 1;
}

.hotpot:hover figcaption{
    opacity: 1;
}

.kung {
    grid-area: 2 / 1 / span 1 / span 1;
}

.kung:hover figcaption{
    opacity: 1;
}

.mapo {
    grid-area: 2 / 2 / span 1 / span 1;
}

.mapo:hover figcaption{
    opacity: 1;
}

.pork {
    grid-area: 2 / 3 / span 1 / span 1;
}

.pork:hover figcaption{
    opacity: 1;
}

.chicken {
    grid-area: 2 / 4 / span 1 / span 1;
}

.chicken:hover figcaption{
    opacity: 1;
}

.sweet {
    grid-area: 3 / 1 / span 1 / span 1;
}

.sweet:hover figcaption{
    opacity: 1;
}

.water {
    grid-area: 3 / 2 / span 1 / span 1;
}

.water:hover figcaption{
    opacity: 1;
}

.figPage figcaption {
    opacity: 0;
}

h1 {
    font-size: 30px;
    padding: 10px;
}

h2 {
    font-size: 20px;
    padding: 5px;
}